﻿@{
    Layout = "_BasicLayout";
}


<nav>
    <ul>
        <li><a class="reports" asp-controller="Investigator" asp-action="LoggedIn_Investigator">Start(Ärenden)</a></li>
        <li class="right"><a class="logout" asp-controller="Account" asp-action="Logout">Logga ut</a></li>
    </ul>
</nav><!-- End Nav -->
<div id="content">

    @RenderBody()
    <footer>
        &copy; Småstads Kommun All rights reserved.
    </footer>

</div><!-- End Content -->

