﻿@{
    Layout = "_BasicLayout";
}

<nav>
    <ul>
        <li><a asp-controller="Home" asp-action="Index">Hem</a></li>
        <li><a asp-controller="Citizen" asp-action="Services">Tjänster</a></li>
        <li><a asp-controller="Citizen" asp-action="FAQ">FAQ</a></li>
        <li><a asp-controller="Citizen" asp-action="Contact">Kontakt</a></li>
        <li class="right"><a class="login" asp-controller="Home" asp-action="Login">Logga in (endast personal)</a></li>
    </ul>
</nav><!-- End Nav -->

<div id="content">
    <div>
        @RenderBody()

    </div>
    <aside id="sideColumn">
        <img src="~/images/pic_1.jpg" height="162" alt="Ett barn blåser på en maskros" />
        <img src="~/images/pic_2.jpg" height="162" alt="Åkrar utanför Småstad med hus och kyrkan i bakgrunden" />
        <img src="~/images/pic_3.jpg" height="162" alt="Flygbild över Småstads villaområde" />
        <img src="~/images/pic_4.jpg" height="162" alt="En kvinna vänder ansiktet mot solen och vinden rör om hennes hår" />
        <img src="~/images/pic_5.jpg" height="162" alt="En åker vid första frosten" />
        <img src="~/images/pic_6.jpg" height="162" alt="Händer som håller i jord och en liten planta" />
        <img src="~/images/pic_7.jpg" height="162" alt="Barn liggandes på gräsmatta" />
        <img src="~/images/pic_8.jpg" height="162" alt="Närbild av en fotboll" />
    </aside><!-- End Right -->
    <footer>
        &copy; Småstads Kommun All rights reserved.
    </footer>
</div><!-- End Content -->
