﻿@{
    Layout = "_BasicLayout";
}


<nav>
    <ul>
        <li><a class="reports" asp-controller="Coordinator" asp-action="LoggedIn_Coordinator">Start(Ärenden)</a></li>

        <li><a class="reportAdd" asp-controller="Coordinator" asp-action="LoggedIn_ReportCrime_Coordinator">Rapportera brott</a></li>
        <li class="right"><a class="logout" asp-controller="Account" asp-action="Logout">Logga ut</a></li>
    </ul>
</nav><!-- End Nav -->

<div id="content">

    @RenderBody()
    <footer>
        &copy; Småstads Kommun All rights reserved.
    </footer>

</div><!-- End Content -->

