﻿
@{
    Layout = "_LoginTrueLayout_Coordinator";
}

<h2>Tack för din anmälan</h2>
<p class="info">Du är inloggad som samordnare</p>

<p>
    Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
    Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
    Ange då nummer: @Model.RefNumber
</p>
<!--Leads to Coordinator page-->
<p><a class="button" asp-controller="Coordinator" asp-action="LoggedIn_Coordinator">Avsluta rapporteringen</a></p>
