﻿@*
    This view is called by the class ShowOneErrand.cs:
        var errandDetail = await repository.GetErrand(id);
        return View(errandDetail);
    The id entered is ViewBag.Id
*@
@{
    Layout = "_LoginTrueLayout_Coordinator";
}
@model Department
<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som samordnare</p>

@await Component.InvokeAsync("ShowOneErrand", ViewBag.Id)


<section id="bottomColumn">
    <form asp-controller="Coordinator" asp-action="UpdateDepartment" asp-route-errandId=@ViewBag.Id>

        <select asp-for="DepartmentId" asp-items=@(new SelectList(ViewBag.DepartmentList,"DepartmentId", "DepartmentName"))>
            <option disabled="disabled">Välj avdelning</option>
        </select>

        <p><input type="submit" /></p>

    </form>

</section>
