﻿
@{
    Layout = "_LoginTrueLayout_Coordinator";
}
@model Errand

<h2>Rapportera brott</h2>
<p class="info">Du är inloggad som samordnare</p>

<p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i</p>
<!--Leads to Coordinator Validate page-->
<form method="post" asp-controller="Coordinator" asp-action="LoggedIn_Validate_Coordinator">
    <p>
        <input type="hidden" name="isSubmitted" value="true" />
    </p>
    <p>
        <span class="label">Var har brottet skett någonstans?</span><br />
        <input asp-for="Place" /> *
        <span asp-validation-for="Place" class="error"></span>
    </p>
    <p>
        <span class="label">Vilken typ av brott?</span><br />
        <input asp-for="TypeOfCrime" /> *
        <span asp-validation-for="TypeOfCrime" class="error"></span>
    </p>
    <p>
        <span class="label">När skedde brottet?</span><br />
        <input asp-for="DateOfObservation" /> *
        <span asp-validation-for="DateOfObservation" class="error"></span>
    </p>
    <p>
        <span class="label">Ditt namn (för- och efternamn):</span><br />
        <input asp-for="InformerName" /> *
        <span asp-validation-for="InformerName" class="error"></span>
    </p>
    <p>
        <span class="label">Din telefon:</span><br />
        <input asp-for="InformerPhone" /> *
        <span asp-validation-for="InformerPhone" class="error"></span>
    </p>
    <p>
        <span class="label">Beskriv din observation<br /> (ex. namn på misstänkt person):</span><br />
        <textarea asp-for="Observation" rows="5" cols="16"></textarea>
    </p>
    <p>
        <input class="button" type="submit" value="Skicka in" />
    </p>
</form>
