﻿@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkId=397860
*@
@{
    Layout = "_LoginFalseLayout";
}
<section id="mainColumn">
    <h2>Kontaktuppgifter</h2>
    <p><span class="label">Besöksadress:</span> Storgatan 42</p>
    <p><span class="label">Postadress:</span> Box 10, 909 00 Småstad</p>
    <p><span class="label">Mail:</span> miljoboven@smastad.nu</p>
    <p><span class="label">Telefon:</span> 432-500 10 00</p>
</section><!-- End Left -->