﻿
@{
    Layout = "_LoginFalseLayout";
}
@model Errand
<section id="mainColumn">
    <h2>Tack för din Anmälan</h2>
    <p class="info">I Småstad är inga brott för små för att anmälas</p>

    <p>
        Anmälan har nu skickats in till kommunen och kommer att utredas. <br />
        Vill du komplettera din anmälan kontakta oss via mail eller telefon. <br />
        Ange då nummer: @Model.RefNumber
    </p>
    <!--Leads to Index page-->
    <p><a class="button" asp-controller="Home" asp-action="Index">Avsluta</a></p>
</section><!-- End Left -->