﻿@{
    Layout = "_LoginTrueLayout_Investigator";
}

@model IQueryable<EnviroC.Models.ViewModels.ViewModel_MyErrand>
<h2>Ärenden</h2>
<p class="info">Du är inloggad som handläggare</p>

<table id="managerForm">
    <tr>
        <td class="label">Välj status:</td>
        <td>&nbsp;</td>
        <td class="label">Ärendenummer:</td>
        <td>&nbsp;</td>
    </tr>
    <tr>
        <td>
            <select name="status">
                <option selected="selected">Välj alla</option>
                @{
                    foreach (ErrandStatus es in ViewBag.relevantErrandStatus1)
                    {
                        <option value="@es.StatusId">@es.StatusName</option>
                    }
                }
            </select>
        </td>
        <td><input class="button" type="submit" value="Hämta lista" /></td>
        <td><input name="casenumber" /></td>
        <td><input class="button" type="submit" value="Sök" /></td>
    </tr>
</table>

<!--Nedan ser man en lista på ärenden-->
@await Component.InvokeAsync("ShowErrandTable", Model)
