﻿@*
    This view is called by the class ShowOneErrand.cs:
        var errandDetail = await repository.GetErrand(id);
        return View(errandDetail);
    The id entered is ViewBag.Id
*@
@{
    Layout = "_LoginTrueLayout_Investigator";
}
@model EnviroC.Models.ViewModels.ViewModel_EditCrime_Investigator
<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som handläggare</p>

@await Component.InvokeAsync("ShowOneErrand", ViewBag.Id)



<section id="bottomColumn">
    <!--'multipart/form-data' is used to encode the upload as a HTTP request and 'multiple' is to allow the upload of multiple files-->

    <form asp-controller="Investigator" asp-action="UpdateStatus" asp-route-errandId=@ViewBag.Id enctype="multipart/form-data" multiple>

        <h3>Redigera ärende</h3>
        <p class="label">Händelser:</p>
        <textarea asp-for="InvestigatorAction" name="investigatorAction" rows="5" cols="60"></textarea>

        <p class="label">Mer information:</p>
        <textarea asp-for="InvestigatorInfo" name="investigatorInfo" rows="5" cols="60"></textarea>

        <p class="label">Lada upp prover (.pdf)</p>
        <input type="file" asp-for="UploadedSample" name="uploadedSample" />

        <p class="label">Ladda upp bilder (.jpg, .jpeg, .png):</p>
        <p><input type="file" asp-for="UploadedImage" name="uploadedPicture" /></p> <!--name is important, must match method parameter-->

        <p class="label">Ändring av status:</p>

        <select asp-for="StatusId" asp-items=@(new SelectList(ViewBag.StatusList,"StatusId", "StatusName"))>

            <option disabled="disabled">Välj status</option>

        </select>

        <p>
            <input class="button" type="submit" value="Spara ändringarna" />
        </p>
    </form>

</section>

