﻿
@{
    Layout = "_LoginFalseLayout";
}
@model Errand

<section id="mainColumn">
    <h2>Välkommen att fylla i din anmälan av miljöbrott</h2>
    <p class="info">I Småstad är inga brott för små för att anmälas</p>

    <p>Fyll i formuläret nedan, alla rutor markerade med stjärna (*) måste fyllas i.</p>
    <!--Leads to Validate page-->
    <form method="post" asp-controller="Citizen" asp-action="Validate">
        <p>
            <input type="hidden" name="isSubmitted" value="true" />
        </p>
        <p>
            <span class="label">Var har brottet skett någonstans?</span><br />
            <input asp-for="Place"/> *
            <span asp-validation-for="Place" class="error"></span>
        </p>
        <p>
            <span class="label">Vilken typ av brott?</span><br />
            <input asp-for="TypeOfCrime"/> *
            <span asp-validation-for="TypeOfCrime" class="error"></span>
        </p>
        <p>
            <span class="label">När skedde brottet?</span><br />
            <input asp-for="DateOfObservation"/> *
            <span asp-validation-for="DateOfObservation" class="error"></span>
        </p>
        <p>
            <span class="label">Ditt namn (för- och efternamn):</span><br />
            <input asp-for="InformerName"/> *
            <span asp-validation-for="InformerName" class="error"></span>
        </p>
        <p>
            <span class="label">Din telefon:</span><br />
            <input asp-for="InformerPhone"/> *
            <span asp-validation-for="InformerPhone" class="error"></span>
        </p>
        <p>
            <span class="label">Beskriv din observation<br /> (ex. namn på misstänkt person):</span><br />
            <textarea asp-for="Observation" rows="5" cols="16"></textarea>
        </p>
        <p>
            <input class="button" type="submit" value="Skicka in" />
        </p>
    </form>
</section><!-- End Left -->
