﻿
@*
*@
@{
    Layout = "_LoginFalseLayout";
}
@model LoginModel
<section id="mainColumn">
    <h2>Inloggning för Småstads personal</h2>
    <p class="info">En säker tjänst från Småstads IT-avdelning</p>

    <form asp-controller="Account" asp-action="Login" method="post">
        <p>
            <p><label class="label" asp-for="UserName"></label></p>
            
                <input asp-for="UserName" />
                <span asp-validation-for="UserName"></span>
        </p>
        <p>
            <p><label class="label" asp-for="Password"></label></p>
                <input asp-for="Password"/>
                <span asp-validation-for="Password"></span>

        </p>
        <p>
            <!--Defines the return destination if login fails-->
            <input type="hidden" asp-for="ReturnUrl" />
        </p>
        <p>
            <input type="submit" value="Login" />
        </p>
        <div asp-validation-summary="All"></div>
    </form>

</section><!-- End Left -->