﻿@*
    This view is called by the class ShowOneErrand.cs:
        var errandDetail = await repository.GetErrand(id);
        return View(errandDetail);
    The id entered is ViewBag.Id
*@
@{

        Layout = "_LoginTrueLayout_Manager";
}
@model EnviroC.Models.ViewModels.ViewModel_EditCrime_Manager
<h2>Detaljer för ärendet</h2>
<p class="info">Du är inloggad som avdelningschef</p>

@await Component.InvokeAsync("ShowOneErrand", ViewBag.Id)

<section id="bottomColumn">
    <h3>Redigera ärende</h3>
    <form asp-controller="Manager" asp-action="UpdateEmployee" asp-route-errandId=@ViewBag.Id>
        <select asp-for="EmployeeId" asp-items=@(new SelectList(ViewBag.relevantEmployees, "EmployeeId", "EmployeeName"))>
            Ange handläggare: <option disabled="disabled">Välj</option>
        </select>

        <p><input asp-for="NoActionBool" type="checkbox" name="noAction" /> Ingen åtgärd: <input asp-for="Comment" type="text" name="comment" value="Ange motivering" /></p>
        <p><input class="button" type="submit" value="Spara" /></p>
    </form>

</section>