﻿@using EnviroC.Models.ViewModels
@model IQueryable<EnviroC.Models.ViewModels.ViewModel_MyErrand>

@{

    var username = Context.User.Identity.Name;
    Employee thisEmployee = ViewBag.thisEmployee;
    Department thisDepartment = ViewBag.thisDepartment;
    string thisEmployeeRole = thisEmployee.RoleTitle;
    string thisErrandPage = "LoggedIn_Crime_" + thisEmployeeRole;

    if (Model != null && Model.GetEnumerator().MoveNext() == true) //Checks that the list is not null and not empty
    {
    <table>
        <tr>
            <th>Ärende anmält</th>
            <th>Ärendenummer</th>
            <th>Miljöbrott</th>
            <th>Status</th>
            <th>Avdelning</th>
            <th>Handläggare</th>
        </tr>
        @foreach (ViewModel_MyErrand myErrand in Model)
        {
            <tr>
                <td>@myErrand.DateOfObservation.ToString("yyyy/MM/dd")</td>
                <td>
                    <a asp-controller="@thisEmployeeRole" asp-action="@thisErrandPage" asp-route-id="@myErrand.ErrandId">@myErrand.RefNumber</a>
                </td>
                <td>@myErrand.TypeOfCrime</td>
                <td>@myErrand.StatusName</td>
                <td>@myErrand.DepartmentName</td>
                <td>@myErrand.EmployeeName</td>
            </tr>
        }

    </table>
            }
            else
            {
            <p>Inga ärenden tillhör detta konto.</p>
            }
            }