﻿@*

*@
@model Errand
@{ // This string vector is used to split the two information fields and display them in individual paragraphs
    String[] strings;}

<h3>Ärende: @Model.RefNumber</h3>
<section id="leftColumn">
    <h3>Anmälan</h3>
    <p>
        <span class="label">Typ av brott: </span><br />
        @Model.Observation
    </p>
    <p>
        <span class="label">Brottsplats: </span><br />
        @Model.Place
    </p>
    <p>
        <span class="label">Brottsdatum: </span><br />
        @Model.DateOfObservation.ToString("yyyy/MM/dd")
    </p>
    <p>
        <span class="label">Anmälare: </span><br />
        @Model.InformerName
    </p>
    <p>
        <span class="label">Telefon: </span><br />
        @Model.InformerPhone
    </p>
    <p>
        <span class="label">Observationer:</span><br />
        @Model.Observation
    </p>
</section>

<section id="rightColumn">
    <h3>Utredning</h3>
    <p>
        <span class="label">Status:</span><br />
        @Model.StatusId
    </p>
    <p>
        <span class="label">Ansvarig avdelning: </span><br />
        @if (Model.DepartmentId != null)
        {
            @Model.DepartmentId
        }
        else
        {
        <p>Ingen avdelning</p>
    }
        </p>
        <p>
            <span class="label">Handläggare: </span><br />
            @if (Model.EmployeeId != null)
            {
                if (Model.EmployeeId.Length > 0)
                {

                    @Model.EmployeeId
                }
                else
                {
                <p>Ingen handläggare tillsatt</p>}
        }
        else
        {
            <p>Ingen handläggare tillsatt</p>}

            </p>
            <p>
                <span class="label">Provtagning: </span><br />
                @{ if (Model.Samples != null && Model.Samples.Count > 0)
                    {
                        foreach (Sample s in Model.Samples)
                        {
                        <p>
                            <a href="/UploadedSamples/@s.SampleName">
                                @try
                                {
                                    // Code for splitting the unique identifier out of the file name
                                    int splitIndex = s.SampleName.IndexOf("_") + 1;
                                    string splitString = s.SampleName.Substring(splitIndex);
                                    @splitString;
                                }
                                catch
                                { @s.SampleName;
                            }
                        </a>
                    </p>
                }

            }
            else
            {
                <p>Inga prover har lagts till</p>}}
                </p>
                <p>
                    <span class="label">Ytterligare information: </span><br />
                <p>
                    @if (Model.InvestigatorInfo.Length > 0)
                    {
                        {
                            strings = @Model.InvestigatorInfo.Split("%%%");
                            foreach (string s in strings)
                            {
                            <p>@s</p>}
                    }
                }
                else
                {
                    <p>Ingen information från handläggare</p>
                }
                    </p>
                    <p>
                        <span class="label">Händelser: </span><br />
                    <p>
                        @if (Model.InvestigatorAction.Length > 0)
                        {
                            strings = @Model.InvestigatorAction.Split("%%%");
                            foreach (string s in strings)
                            {
                            <p>@s</p>}
                    }
                    else
                    {
                        <p>Inga händelser</p>
                    }
                        </p>
                        <p>
                            <span class="label">Bilder: </span><br />
                            @{ if (Model.Pictures != null && Model.Pictures.Count > 0)
                                {
                                    foreach (Picture p in Model.Pictures)
                                    {
                                    <p><img src="~/UploadedPictures/@p.PictureName" style="max-width:200px;height:auto;" alt="klicka på bilden" /></p>}
                            }
                            else
                            {
                                <p>Inga bilder har lagts till</p>} }
                            </p>
                        </section>
